Ejercicio1.dtd

<!ELEMENT listaventas (venta)+>
        <!ELEMENT venta (importe, comprador, vendedor, fecha,codigo_factura)>
        <!ELEMENT importe (#PCDATA)>
        <!ELEMENT comprador (#PCDATA)>
        <!ELEMENT vendedor (#PCDATA)>
        <!ELEMENT fecha (#PCDATA)>
        <!ELEMENT codigo_factura (#PCDATA)>
